.awof-phone,
.awof-phone-input{
	width: 100%;
	font-size: initial;
}

.woocommerce .awof-phone-cart {
	margin-bottom: 0.5em;
}

.awof-phone-minicart {
	margin-top: .6180469716em;
	font-size: 0.875em;
}

input[type=text].awof-phone-error {
	background-color: #ffc0c0;
}
.woocommerce button.awof-button{
	width: 100%;
}
.awof-button.loading {
	color: #eeeeee !important;
	background-color: #eeeeee !important;
	pointer-events: none;
}
